.logo {
  // width: 233px;
  & > p {
    font-size: 67px;
  }
  position: relative;
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      transform: rotate(90deg);
      margin: 0;
      padding: 0;
      line-height: 28px;
      height: 37px;
      position: absolute;
      font-size: 39px;
      color: white;
    }
  }
}
